
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    
}
.featured{
    justify-content: center;
    align-self: center;
    background-color: red;
    width: 100%;
}
.featured img{

    width: 100%;
    height:100%;
}
.featured iframe{
    height: 70vh;
    width: auto;
}
figcaption{
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 30%;
    left: 10%;
    background:rgba(128, 128, 128, 0.363);
    padding: 10px;
    font-size: 2rem;
    text-align:left;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 10px;
    
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 10vh;
    background-color: hsl(210, 100%, 10%);
    height: 5rem;
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(102, 102, 102, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
main {
    flex: 1;
    width: 100%;  
    padding-left:5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#nowincinema{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 2vw;
}
.movieinfo{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60% 40%;

    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgb(84, 84, 84);
    height: 70vh;
    width: 100%;
    gap: 10px;
}
.movieinfo img{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    width: 100%;
    height: auto;
    padding: 50px;
}
.details{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:baseline;
    padding: 50px;
    font-size: 3vw;
}
.seatwrapper{
    display: flex;
    justify-content: space-around;
    background-color: pink;
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
.seats{
    width: 20%;
    height: 60%;
    
}
.seats ul{
    font-size: 28px;
    background-color: orange;
    border-radius: 10px;
    list-style-type:none;
}
.seats ul:hover{
    cursor: pointer;
    background-color: rgb(255, 204, 109);
}
#watchitnow div{
    display: flex;
    justify-content: space-around;
    
}
#watchitnow article{
    display: flex;
    flex-direction: column;

    background-color: red;

    gap: 20px;
    justify-content:center;
    align-items: center;
    width: 30vw;
}
#watchitnow article image{
    width: 100%;
    height: auto;
}
#watchitnow .details{
    align-items: center;
}
#watchitnow .seats{
    /* width: 30%; */
}
section.celeblist div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}
article.celeb{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    gap: 50px;
}
article.celeb img{

    border-radius: 50%;
    width: 400px;
    height: 400px;
}
section.quickbook{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    min-height: 50px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
}
section.quickbook *{
    color: black;
}
footer{
    background-color: blue;
    padding: 10px;
    text-align: center;
    min-height: 90px;
}
header a{
    text-decoration: none;
    color: hsl(210, 100%, 50%);
}