@import "https://unpkg.com/open-props";
.upcoming{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .arriving-element {
        flex-direction: column;
    }
    
    .image-wrapper,
    .content-wrapper {
        width: 100%;
    }
    
    .image-wrapper {
        height: 300px;
    }
}