main{
    margin-top: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
    /* background-color: yellow; */
}
.movie-info{
    
    display: flex;
    gap: 5rem;
    & img {
        height: 50vh;
        width: auto;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & h1 {
            font-size: 3rem;
        }

        & p{
            line-height: 2rem;
        }

        & .movie-details{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }
    }
}
