:root {
  --primary-color: #ffa500;
  --secondary-color: #ffb733;
  --text-color: white;
  --bg-color: rgb(22, 22, 22);
  --screen-color:rgb(154, 153, 153);
  --screen-hover:rgb(42, 42, 42);

  --black-text: black;
  --lighter-black: rgb(32, 32, 32);
  --gray-text: gray;
  --gray-lighter-text: rgb(174, 173, 173);
  --white-text: white;
}
main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */

  & select {
    min-width: 20px;
  }
}
.movie-info {
  display: flex;
  gap: 5rem;
  & img {
    height: 50vh;
    width: auto;
    box-shadow: 0 0 20px rgb(228, 155, 15), 0 0 40px rgba(255, 255, 255, 0.1),
      0 8px 16px rgba(255, 255, 255, 0.08);
    border-radius: 1em;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & h1 {
      font-size: 3rem;
    }
    & .movie-details {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      & p {
        font-size: 1.3rem;
        font-weight: bold;
      }

      & h2 {
        color: var(--gray-ligh);
      }

      & .movie-details-elements {
        line-height: 1rem;
      }
    }
  }
}
.first-div {
  & > p {
    line-height: 2.5rem;
    border-bottom: 1px solid var(--gray-text);
  }
  & .gray {
    color: var(--gray-text);
  }
  & select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: var(--white-text);

    outline: none;
  }
  & select option {
    background-color: var(--black-text);
    color: var(--white-text);
    padding-left: 3em;
    border: 2.3px solid var(--gray-text);
    border-radius: 8px;
  }

  & .select {
    width: 100%;
    border: 2.3px solid var(--gray-text);
    border-radius: 8px;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: var(--black-text);

    display: grid;
    grid-template-areas: "select";
    align-items: center;
  }
  & .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--white-text);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
  & select,
  .select::after {
    grid-area: select;
  }
}

.screensAvailable {
  display: flex;
  flex-direction: column;
  & .day {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  & .day {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  & .screen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    & .screen {
      padding: 10px;
      background-color: var(--black-text);
      border-radius: 8px;
      border: 2.3px solid var(--gray-text);

      transition: transform 0.5s ease, border-color 0.5s ease,
        background-color 0.5s ease;

      & p {
        color: var(--gray-lighter-text);
        line-height: 2em;
      }
      & span {
        color: var(--white-text);
        font-weight: 800;
      }
      & p:nth-child(2) {
        color: var(--screen-color);
      }
    }
    & .screen:hover {
      transform: translateY(-10px);
      cursor: pointer;
      border-color: azure;
      background-color: var(--screen-hover);
    }
  }
}

.also-showing {
  margin-top: 5rem;
}

.info-details {
  & p {
    color: var(--gray-text);
  }
}
.white {
  color: var(--white-text);
  font-weight: bold;
}

.also-showing h2 {
  /* text-align: center; */
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
}

.showing-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 5vw;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.showing-element {
  padding: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  min-height: 50vh;
  min-width: 40vw;
  /* box-shadow: 
  0 0 20px rgba(255, 255, 255, 0.3),  
  0 0 40px rgba(255, 255, 255, 0.1),  
  0 8px 16px rgba(255, 255, 255, 0.08);  */
}

.showing-element:hover {
  transform: translateY(-10px);
  /* box-shadow: 
    0 0 40px rgba(255, 255, 255, 0.4),  
    0 0 80px rgba(255, 255, 255, 0.2), 
    0 12px 24px rgba(255, 255, 255, 0.1);  */
}

.image-wrapper {
  width: 35%;
  /* flex-shrink: 0; */
}

.image-wrapper img {
  border-radius: 10px;
  width: 100%;
  height: auto;

  object-fit: cover;
  display: block;
}

.content-wrapper {
  padding: 1.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  width: 60%;
}

.content-wrapper h3 {
  color: #f08000;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.description {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.movie-details {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.section-title {
  margin: clamp(3.2rem, 5vw, 4rem) 0.5rem;
  text-align: center;
  & span {
    padding: clamp(1rem, 2vw, 1.5rem) clamp(2rem, 5vw, 5rem);

    border: 5px rgb(228, 155, 15) dashed;
    border-radius: 0.5em;
    backdrop-filter: blur(10px);
    font-size: clamp(1.2rem, 4vw, 1.6rem);
  }
}

.movie-details li {
  margin-bottom: 0.5rem;
  color: #fff;
}

.movie-details .label {
  color: #f08000;
  font-weight: bold;
  margin-right: 0.5rem;
}

.button-featured {
  align-self: flex-start;
  margin-top: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .also-showing-element {
    flex-direction: column;
  }

  .image-wrapper,
  .content-wrapper {
    width: 100%;
  }

  .image-wrapper {
    height: 300px;
  }
}
